.DS_Store
node_modules
/dist
/tmp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Language
go.work
go.work.sum

# Custom
.kmg.scripts.js
*.sqlite.json

example_wrap.c
example_wrap.cxx

simple/simple.go
constants/constants.go
pkg_enum/pkg_enum.go
pkg_class/pkg_class.go
funcptr/funcptr.go
goin/goin.go
goin/example_wrap.h
pointer/pointer.go
reference/reference.go
pkg_template/pkg_template.go
multimap/multimap.go
callback/callback.go
callback/example_wrap.h
